
@media screen and (max-width: 768px) {
    .logo img{
        width: 145px;
        height: 46px;
    }
}
@media screen and (max-width: 426px) {
    .logo img{
        width: 145px;
        height: 46px;
    }
}

@media screen and (max-width: 376px) {
    .logo img{
        width: 145px;
        height: 46px;
    }
}
